@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Crushed:400|Asap:400");


#image {
     
    top: -1; 
    left: -1; 
    min-width: auto;
    min-height: 100% ;
    height: auto;
    width: 100%;
    

  }

  
  /* Make the image responsive * <a href="chess.html"><button type="button" class="btn btn-dark">Dark</button></a>/
  
  /* Style the button and place it in the middle of the container/image */