@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Crushed:400|Asap:400");
* {
  box-sizing: border-box;
}
.animate-enter {
  animation: animate-enter-frames 0.2s ease-in-out 0s 1 normal forwards;
  display: block;
  opacity: 0;
}
.animate-enter1 {
  animation: animate-enter1-frames 1s ease-in-out 0.2s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: scale(1.1);
}
.animate-enter2 {
  animation: animate-enter2-frames 0.4s ease-in-out 0.2s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}
.animate-enter3 {
  animation: animate-enter3-frames 0.2s ease-in-out 0s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}
.asap-normal-white-35px {
  color: white;
  font-family: "Asap", Helvetica, Arial, serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
}
.crushed-normal-black-100px {
  color: black;
  font-family: "Crushed", Helvetica, Arial, serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
}
.crushed-normal-black-50px {
  color: black;
  font-family: "Crushed", Helvetica, Arial, serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
}
.landing-2 {
  align-items: flex-start;
  background-color: white;
  display: flex;
  height: 1028px;
  overflow: hidden;
  width: 1440px;
}
.landing-2 .b-chess {
  height: 636px;
  left: 271px;
  object-fit: cover;
  position: absolute;
  top: 131px;
  width: 900px;
}
.landing-2 .chess {
  height: 1046px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 1449px;
  opacity: 0;
  transform: scale(1.1);
}
.landing-2 .heading {
  height: 204px;
  left: 499px;
  pointer-events: auto;
  position: absolute;
  top: 735px;
  transition: all 0.2s ease;
  width: 448px;
  opacity: 0;
  transform: translate(0, 25px);
}
.landing-2 .overlap-group {
  height: 1046px;
  margin-left: -1px;
  margin-top: -1.25px;
  position: relative;
  width: 1449px;
}
.landing-2 .overlap-group1 {
  height: 1046px;
  position: relative;
}
.landing-2 .overlap-group2 {
  height: 204px;
  position: relative;
  width: 446px;
}
.landing-2 .overlap-group3 {
  align-items: flex-end;
  
  background-size: 100% 100%;
  display: flex;
  height: 56px;
  min-width: 196px;
  padding: 6.4px 56px;
}
.landing-2 .place {
  letter-spacing: 0px;
  min-height: 43px;
  width: 80px;
}
.landing-2 .simple-chess {
  left: 17px;
  letter-spacing: -5px;
  position: absolute;
  top: 0px;
}
.landing-2 .start-button {
  height: 56px;
  left: 626px;
  position: absolute;
  top: 883px;
  width: 198px;
  opacity: 0;
  transform: translate(0, 25px);
}
.landing-2 .text-1 {
  left: 0px;
  letter-spacing: -2.5px;
  position: absolute;
  top: 90px;
}
.landing-2 .vector-2 {
  display: block;
  height: 1046px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1449px;
  opacity: 0;
}
.landing-2 .whitechessmask {
  height: 1046px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1449px;
}
@keyframes animate-enter-frames {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes animate-enter1-frames {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes animate-enter2-frames {
  from {
    opacity: 0;
    transform: translate(0, 25px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes animate-enter3-frames {
  from {
    opacity: 0;
    transform: translate(0, 25px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
